In [128]:
### Maven Unicorn Data Challenge
#load Libraries

import numpy as np
import pandas as pd
import warnings

warnings.simplefilter(action="ignore", category=FutureWarning)

#Load Data
df = pd.read_csv('Unicorn_Companies.csv')
df.head()

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
0,Bytedance,$180B,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,$8B,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$100B,2012-12-01,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100B,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95B,2014-01-23,Fintech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,$46B,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita..."

In [148]:
df.describe()

          Valuation  Year Founded       Funding  Year Joined
count  1.045000e+03   1045.000000  1.045000e+03  1045.000000
mean   3.478469e+09   2012.892823  5.577407e+08  2019.901435
std    8.612828e+09      5.704404  8.145603e+08     1.971261
min    1.000000e+09   1919.000000  0.000000e+00  2011.000000
25%    1.000000e+09   2011.000000  2.230000e+08  2019.000000
50%    2.000000e+09   2014.000000  3.700000e+08  2021.000000
75%    3.000000e+09   2016.000000  6.100000e+08  2021.000000
max    1.800000e+11   2021.000000  1.400000e+10  2022.000000

In [130]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1074 non-null   object
 1   Valuation         1074 non-null   object
 2   Date Joined       1074 non-null   object
 3   Industry          1074 non-null   object
 4   City              1058 non-null   object
 5   Country           1074 non-null   object
 6   Continent         1074 non-null   object
 7   Year Founded      1074 non-null   int64
 8   Funding           1074 non-null   object
 9   Select Investors  1073 non-null   object
dtypes: int64(1), object(9)
memory usage: 84.0+ KB

In [131]:
# Finding missing values
df.isna().sum()

Company              0
Valuation            0
Date Joined          0
Industry             0
City                16
Country              0
Continent            0
Year Founded         0
Funding              0
Select Investors     1
dtype: int64

In [132]:
# Drop rows with missing values
df.dropna(inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1057 entries, 0 to 1073
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1057 non-null   object
 1   Valuation         1057 non-null   object
 2   Date Joined       1057 non-null   object
 3   Industry          1057 non-null   object
 4   City              1057 non-null   object
 5   Country           1057 non-null   object
 6   Continent         1057 non-null   object
 7   Year Founded      1057 non-null   int64
 8   Funding           1057 non-null   object
 9   Select Investors  1057 non-null   object
dtypes: int64(1), object(9)
memory usage: 90.8+ KB

In [133]:
# Remove "$" and "B" and cast "Valuation" as float

df["Valuation"] = (df["Valuation"]
    .str.replace("$", "")
    .str.replace("B", "000000000")
    .astype(float))

In [134]:
df.head()

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
0,Bytedance,1.800000e+11,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,$8B,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,1.000000e+11,2012-12-01,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,1.000000e+11,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,9.500000e+10,2014-01-23,Fintech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,4.600000e+10,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita..."

In [135]:
# Removing "Unknown" from Funding row
df["Funding"]. value_counts()
df = df[df["Funding"] != "Unknown"]
df.shape

(1045, 10)

In [136]:
# Remove "$" and "B" and cast "Funding" as float
df["Funding"] = (df["Funding"]
    .str.replace("$", "")
    .str.replace("B", "000000000")
    .str.replace("M", "000000")
    .astype(float)
)

In [137]:
df.head()

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
0,Bytedance,1.800000e+11,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8.000000e+09,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,1.000000e+11,2012-12-01,Other,Hawthorne,United States,North America,2002,7.000000e+09,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,1.000000e+11,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2.000000e+09,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,9.500000e+10,2014-01-23,Fintech,San Francisco,United States,North America,2010,2.000000e+09,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,4.600000e+10,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,4.000000e+09,"Institutional Venture Partners, Sequoia Capita..."

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1045 entries, 0 to 1073
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1045 non-null   object
 1   Valuation         1045 non-null   float64
 2   Date Joined       1045 non-null   object
 3   Industry          1045 non-null   object
 4   City              1045 non-null   object
 5   Country           1045 non-null   object
 6   Continent         1045 non-null   object
 7   Year Founded      1045 non-null   int64
 8   Funding           1045 non-null   float64
 9   Select Investors  1045 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 89.8+ KB

In [139]:
# Extract Year from date joined to calculate the number of years to get to Unicorn status
df['Date Joined'] = pd.to_datetime(df['Date Joined'])
df['Year Joined'] = df['Date Joined'].dt.year
df.head()

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors,Year Joined
0,Bytedance,1.800000e+11,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8.000000e+09,"Sequoia Capital China, SIG Asia Investments, S...",2017
1,SpaceX,1.000000e+11,2012-12-01,Other,Hawthorne,United States,North America,2002,7.000000e+09,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2012
2,SHEIN,1.000000e+11,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2.000000e+09,"Tiger Global Management, Sequoia Capital China...",2018
3,Stripe,9.500000e+10,2014-01-23,Fintech,San Francisco,United States,North America,2010,2.000000e+09,"Khosla Ventures, LowercaseCapital, capitalG",2014
4,Klarna,4.600000e+10,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,4.000000e+09,"Institutional Venture Partners, Sequoia Capita...",2011

In [140]:
df["Company"].value_counts().sum()

1045

In [141]:
Pandemic_Year = df["Year Joined"]==2021

In [142]:
df[Pandemic_Year].head()

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors,Year Joined
16,J&T Express,2.000000e+10,2021-04-07,"Supply chain, logistics, & delivery",Jakarta,Indonesia,Asia,2015,5.000000e+09,"Hillhouse Capital Management, Boyu Capital, Se...",2021
24,Blockchain.com,1.400000e+10,2021-02-17,Fintech,London,United Kingdom,Europe,2011,4.900000e+08,"Lightspeed Venture Partners, Google Ventures, ...",2021
27,OpenSea,1.300000e+10,2021-07-20,E-commerce & direct-to-consumer,New York,United States,North America,2017,4.270000e+08,"Andreessen Horowitz, Thirty Five Ventures, Sou...",2021
34,Getir,1.200000e+10,2021-03-26,E-commerce & direct-to-consumer,Istanbul,Turkey,Europe,2015,2.000000e+09,"Tiger Global Management, Sequoia Capital, Revo...",2021
37,GoodLeap,1.200000e+10,2021-10-13,Internet software & services,Roseville,United States,North America,2003,8.000000e+08,"New Enterprise Associates, BDT Capital Partner...",2021

In [143]:
# Extract the count of the companies that reach Unicorn in 2021.
df[Pandemic_Year]["Industry"].str.upper().value_counts()

FINTECH                                131
INTERNET SOFTWARE & SERVICES           115
E-COMMERCE & DIRECT-TO-CONSUMER         42
HEALTH                                  40
ARTIFICIAL INTELLIGENCE                 35
CYBERSECURITY                           27
SUPPLY CHAIN, LOGISTICS, & DELIVERY     24
OTHER                                   20
DATA MANAGEMENT & ANALYTICS             20
HARDWARE                                14
EDTECH                                  12
CONSUMER & RETAIL                        7
MOBILE & TELECOMMUNICATIONS              6
AUTO & TRANSPORTATION                    4
TRAVEL                                   3
Name: Industry, dtype: int64

In [149]:
# Save clean data for visualization in Power BI
df.to_csv('Unicorn_Companies', index = False)